.cart-container{
    width: 90vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}
.cart-items{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.cart-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    padding: 0 3.2rem;
    font-size: 1.2rem;
    color: var(--sec-color);
}
.cart-header p:nth-child(2){
    transform: translateX(15px);
} 
.cart-line{
    color: var(--sec-color);
    margin: 0 auto 1rem auto;
    width: 100%;
}
.cart-products{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.cart-product{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cart-products__main{
    display: flex;
    align-items: center;
    width: 10%;
    gap: 1rem;
}
.cart-img{
    width: 100%;
}
.cart-quantity{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: .5rem;
}
.cart-quantity p{
    font-size: 1.3rem;
    color: var(--sec-color);
}
.quantity-btn{
    background: transparent;
    font-size: 1.2rem;
    color: var(--sec-color);
    border: none;
    display: flex;
    align-items: center;
}

.cart-delete{
    background-color: rgb(230, 70, 70);
}

.cart-buttons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    margin: 0 auto;
}
.clear-cart{
    background-color: #000;
}
.clear-cart:hover{
    border: 1px solid #000;
    color: #000;
    background: transparent;
}

.cart-buttons a:hover{
    border-bottom: 0;
}

.cart-checkout{
    width: 100%;
    margin: 1rem auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 1rem;
}
.cart-checkout__info{
    border: 2px solid var(--sec-color);
    border-radius: var(--border);
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem 2rem;
}
.cart-checkout h2{
    font-size: 1.4rem!important;
    margin-bottom: .4rem;
    letter-spacing: var(--spacing);
}
.checkout-top__subtotal,
.checkout-top__fee,
.checkout-total{
    display: flex;
    align-items: center;
    justify-content: space-between;
}