.about {
    margin: 0 auto;
    background: var(--white-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
.location {
  background: rgb(227, 215, 189);
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 2rem;
  margin: 2rem 0;
}

.location h1 {
  color: #5e4639;
}

.location a {
  color: rgb(158, 132, 87);
  transition: var(--transition);
}

.location a:hover {
  color: #5e4639;
  border-bottom: 0;
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
  width: 90%;
}
.about-img{
  height: 400px!important;
}
.about-info{
  max-width: 50%;
  height: 400px;
}
.about-info__h2{
  font-size: 2rem!important;
  margin-bottom: 2rem;
  letter-spacing: .6rem;
}
.about-info__text{
  font-size: 1.2rem!important;
  color: var(--sec-color);
  line-height: 30px;
}
@media screen and (max-width:1065px) {
  .about-container{
    margin-left: 2rem;
  }
  .about-info__h2{
    font-size: 1.8rem!important;
  }
  .about-info__text{
    line-height: 27px;
    font-size: 1.1rem!important;
  }
}
@media screen and (max-width:920px) {
  .about-container{
    flex-direction: column;
  }
  .about-img{
    height: 300px!important;
  }
  .about-info{
    max-width: 90%;
    text-align: center;
  }
}
@media screen and (max-width:640px) {
  .about-info__text{
    line-height: 24px!important;
    font-size: 1rem!important;
  }
}
@media screen and (max-width:420px) {
  .about-info{
    max-width: 100%;
  }
  .about-img{
    height: 200px!important;
  }
}







