.about {
    margin: 0 auto;
    background: var(--white-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
.location {
  background: rgb(227, 215, 189);
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 2rem;
  margin: 2rem 0;
}

.location h1 {
  color: #5e4639;
}

.location a {
  color: rgb(158, 132, 87);
  transition: var(--transition);
}

.location a:hover {
  color: #5e4639;
  border-bottom: 0;
}

.about-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 2rem 3rem 2rem;
  gap: 1rem;
}

.about-article{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  max-width: 90%;
  margin: 0 auto;
}
.about-article__img{
  width: 300px!important;
  border-radius: 30%;
}
.about-line{
  width: 500px;
  height: 5px;
  background: #ad8686;
  margin-left: 150px;
}
.about-line:nth-child(2){
  margin-left: -250px;
}
.about-article__info{
  width: 40%;
  font-size: 1.2rem;
  color: rgb(73, 73, 232);
  background: #010101;
  padding: 1rem;
  border-radius: var(--border);
}
.about-article__title{
  margin-bottom: 1rem;
  letter-spacing: var(--spacing);
  color: var(--main-color);
}
.about-article__p{
  line-height: 1.8rem;
}
@media screen and (max-width:910px) {
    .about-article__info{
      width: 50%;
    }
}
@media screen and (max-width:803px) {
    .about-article__img{
      width: 200px!important;
    }
    .about-article__title{
      font-size: 1.1rem!important;
    }
    .about-article__p{
      font-size: 1rem;
      line-height: 1.6rem;
    }
}
@media screen and (max-width:667px) {
  .about-line{
    height: 3px;
    width: 100%;
  }
  .about-article{
    flex-direction: column;
    gap: 1rem;
  }
  .about-article__info{
    width: 100%;
  }
  .about-article__img{
    width: 70%!important;
    height: 200px;
  }
}