.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    margin: 0 1rem;
}
.hero__left h2{
    font-size: 3rem;
}
.hero__left p{
    font-size: 1.5rem;
}
.header__left-links{
    display: flex;
    gap: 2rem;
    font-size: 1.2rem;
    margin-left: 4rem;
}  
.header__right{
    display: flex;
    gap: 2rem;
    font-size: 1.5rem;
    margin-bottom: 2.2rem;
}
.header__right-cart,
.header__right-login{
    display: flex;
    align-items: center;
    gap: .2rem;
    color: var(--sec-color-variant);
    font-size: 1.2rem!important;
}
.header__right-text{
    transition:var(--transition);
    color: var(--sec-color-variant);
    position: relative;
}
.header__right-text:hover{
    border-bottom: none;
    transform: translateY(-2px);
}
.cart-counter{
    min-width: 25px;
    min-height: 25px;
    background: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: .95;
    color: #fff;
    border-radius: 50%;
    font-size: .9rem;
    letter-spacing: .05rem;
}
.header__left-title,
.header__left-span{
    letter-spacing: var(--spacing);
    cursor: pointer;
    font-family: 'Dancing Script', cursive;
    font-size: 2.2rem;
}
.header__left-span{
    color: var(--main-color);
} 
